<div class="container">
    <center>
        <h1>Money Plz</h1>
        <h3 style="color: red;"> 현재 테스트 단계로, Open API 이용 횟수에 제한이 있어 모든 국가의 환율이 1:1로 적용 중입니다.</h1>
        <form class="form-group" id="form-exchange">
            <label for="koreaMoney">환전할 금액</label>
            <input id="koreaMoney" class="form-control" type="text" required>
            <select id="destUnit" class="form-control">
                {{#each countryInitial}}
                <option value={{unit}}>{{name}}({{unit}})</option>
                {{/each}}
            </select>

            <button type="submit" id="btn-exchange" class="btn btn-primary">결과 보기</button>
        </form>

        <div id="result">
            <!-- 환전 결과 (거쳐가는 화폐도 표기)-->
            <!-- 바로 환전한다면...(다른 국가의 화폐를 안 거쳐갔을 때 금액) -->
            <!-- 이득 본 금액 -->
        </div>

        <p id="notice">
            본 웹 사이트의 목적은 해외 여행 시 '효율적인 환전'을 할 수 있도록 돕는 데에 있습니다.
            예를 들어 환율에 따라 베트남에 여행갈 때 '원화 → 동' 으로 환전하는 경우보다 '원화 → 달러 → 동' 으로 환전하는 경우에 더 많은 자금을 확보할 가능성이 있습니다.
            
            '환전할 금액' 란에 여행 경비를 입력하시고 '여행 목적지' 를 선택하여 '결과 보기' 버튼을 클릭하면
            페이지 하단에 어떤 화폐를 거쳐서 환전해야 바로 환전하는 것보다 이득을 볼 수 있는지 알 수 있는 결과가 나옵니다.

            efftar@naver.com (또는 https://github.com/Kyu0/money-plz/issues) 로 의견을 보내주시면 적극 검토하여 반영토록 하겠습니다.
        </p>
    </center>
</div>