<div class="container">
    <center>
        <h1>Money Plz</h1>
        <form class="form-group" id="form-exchange">
            <label for="koreaUnit">환전할 금액</label>
            <input id="koreaUnit" class="form-control" type="text" onkeyup="inputNumberFormat(this)" required>
            <select id="destUnit" class="form-control">
                {{#each countryInitial}}
                <option value={{unit}}>{{name}}({{unit}})</option>
                {{/each}}
            </select>

            <button type="submit" id="btn-exchange" class="btn btn-primary">결과 보기</button>
        </form>

        <div id="result">
            <!-- 환전 결과 (거쳐가는 화폐도 표기)-->
            <!-- 바로 환전한다면...(다른 국가의 화폐를 안 거쳐갔을 때 금액) -->
            <!-- 이득 본 금액 -->
        </div>
    </center>
</div>

<script>
    {{!-- TODO JS 파일로 추출 --}}
    {{!-- common.js / 출처 : https://mi-nya.tistory.com/248 --}}
     function inputNumberFormat(obj) {
        obj.value = comma(uncomma(obj.value));
    }

    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    function uncomma(str) {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    }
    {{!-- /common.js --}}

    document.getElementById('form-exchange')
        .addEventListener('submit', event => {
            event.preventDefault()
            const form = event.target
            const query = {
                koreaUnit: form.elements.koreaUnit.value.replace(/,/g, ''),
                destUnit: form.elements.destUnit.value
            }
            
            const headers = { 'Content-Type': 'application/json' }
            fetch(`/exchange?koreaUnit=${query.koreaUnit}&destUnit=${query.destUnit}`, { method: 'get', headers: headers})
                .then(response => {
                    if (response.status < 200 || response.status >= 300)
                        throw new Error(`요청에 실패했습니다. 요청 응답 상태 코드 : ${response.status}`)
                    return response.json()
                })
                .then(json => {
                    document.getElementById('result').innerHTML = `<b>${json.exchanged}</b>`
                })
        })
</script>