<div class="container">
    <center>
        <h1>Money Plz</h1>
        <label for="source">환전할 금액</label>
        <input id="source" class="form-control" type="text">
        <select id="destination" class="form-control">
            {{#each countries}}
            <option value={{unit}}>{{name}}</option>
            {{/each}}
        </select>

        <div id="result">
            <!-- 환전 결과 (거쳐가는 화폐도 표기)-->
            <!-- 바로 환전한다면...(다른 국가의 화폐를 안 거쳐갔을 때 금액) -->
            <!-- 이득 본 금액 -->
        </div>
    </center>
</div>