<!DOCTYPE html>
<html>
    <head>
        <title>Money Plz | 최적의 환율 찾기</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        {{{body}}}
    </body>
    <footer>
        <script src="/public/js/common.js"></script>
        <script src="/public/js/index.js"></script>
    </footer>
</html>